<?xml version = "1.0"?>
<launch>

 <param name = "robot_description" command = "$(find xacro)/xacro.py '$(find actuator_pkg)/src/URDF/act.xacro'"/>
 <!--send fake joint values -->
 <node name = "join_state_publisher" pkg = "joint_state_publisher" type = "joint_state_publisher">
    <param name = "use_gui" value = "false"/>
 </node>

 <!-- combine joint values -->
 <node name = "robot_state_publisher" pkg = "robot_state_publisher" type = "state_publisher"/>

 <!-- show in RViz -->
 <node name = "rviz" pkg = "rviz" type = "rviz"/>

</launch>